<app-iba-toolbar></app-iba-toolbar>
<div class="container-firstPage">
    <div class="video-container">
        <img class="home-video" src="assets/img/gifFirstPage.gif" frameBorder="0" allow="autoplay; fullscreen">
    </div>
    <div class="default-container">
        <h1 class="video-title">Pregando a Cristo, Fortalecendo Sua Igreja.</h1>
    </div>
</div>
<div class="container-secondPage">
    <article class="article">
        <h2 class="article-title">Quem somos</h2>
        <p>A Igreja de Antioquia é uma igreja local que reconhece e afirma o <strong style="color: #1e3557">Senhorio de Jesus Cristo</strong>.</p> 
        <p>Portanto, estamos comprometidos a nos esforçar diligentemente pela fé que uma vez por todas foi entregue aos santos por Ele (Judas 3).</p> 
        <p>A essência dessa fé está baseada no Evangelho proclamado pelos Apóstolos, bem como no ensinamento subjacente, que o Senhor ordenou que fosse ensinado a todos os que creem (Mateus 28:19-20).</p>
        <button mat-flat-button color="primary" class="button-article">Saiba mais</button>
    </article>
    <div class="article-img-container"> 
        <img class="article-img" src="assets/img/Pr.antonio.png" alt="Article">
    </div>
</div>
<div class="container-fourthPage">
    <h1 class="title-agenda">Conheça nossa <a color="primary" style="cursor: pointer; margin-top: 20px;">Programação Semanal</a></h1>
    <div style="display: flex;
    justify-content: space-evenly;">
        <div class="card">
            <img class="img-card" src="assets/img/oracao.png">
            <div class="card__content">
              <p class="card__title">Reuniões de Oração</p>
              <p class="card__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
            </div>
        </div>      
        <div class="card">
            <img class="img-card" src="assets/img/escolabibli.png">
            <div class="card__content">
              <p class="card__title">Escola Bíblica</p>
              <p class="card__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
            </div>
        </div>
        <div class="card">
            <img class="img-card" src="assets/img/culto.png">
            <div class="card__content">
              <p class="card__title">Celebração</p>
              <p class="card__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
            </div>
        </div>
    </div>
</div>
<div class="container-thirdPage">
    <div class="first-img">
        <img class="img-celebracao" src="/assets/img/iniciativa.png">
        <div class="middle">
            <button href="/celebracao" mat-flat-button color="primary" class="text">Saiba mais</button>
        </div>
    </div>
    <div class="first-img">
        <img class="img-celebracao" src="/assets/img/spotif.jpg">
        <div class="middle">
            <button href="/mensagens.ibaporto.pt" mat-flat-button color="primary" class="text">Saiba mais</button>
        </div>
    </div>
    <div class="first-img">
        <img class="img-celebracao" src="/assets/img/casasfarol.jpg">
        <div class="middle">
            <button mat-flat-button color="primary" class="text">Saiba mais</button>
        </div>
    </div>
</div>
<app-iba-footer></app-iba-footer>

