.toolbar{
    width: 100%;
    height: 110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.button-toolbar{
    display: flex;
    width: 40%;
}
.button-about{
    margin-right: 10px;
    width: 30%;
}
.button-ministries{
    margin-left: 10px;
    margin-right: 10px;
    width: 30%;
}
.button-contactus{
    margin-left: 10px;
    margin-right: 10px;
    width: 30%;
}
.button-resources{
    margin-left: 10px;
    margin-right: 10px;
    width: 30%;
}
.button-events{
    margin-left: 10px;
    width: 30%;
}
.logo{
    margin-left: 40px;
}
.img-logo{
    width: 50%;
}